/* .item-list-container {
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  } */

/* .item-list-container{
    padding: 8px;
} */

.item-list-container{
    display: flex;
    flex: 1;
    overflow-y: auto;
    margin-top: 2px;
}